<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Ptll gulp pug
        link(rel="stylesheet", href="css/main.css")
    body

    h1 Hello Work!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem tempora reiciendis sit fugiat est dignissimos suscipit. Facilis non minus dignissimos sequi consectetur, quod quia necessitatibus. Laboriosam cumque architecto quos.
    
    script(src="js/all.js")